[Desktop Entry]
Type=Application
Version=1.0
Name=Install FBP OS
GenericName=Installer
Comment=Install the FBP OS to disk
Exec=/usr/bin/calamares_polkit %f
Icon=calamares
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;System;